html,
body,
section {
	width: 100%;
	height: 100%;
	overflow: hidden;
}


/*通用类*/


/*水平居中*/

.centerHorizontally {
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
}


/*完美居中*/

.perfectCenter {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
}

section {
	position: relative;
}


/*第一层*/

section.p1 {
	background: url(../img/page1_glow.png) no-repeat center 20px, linear-gradient(0deg, #395ecb 0%, #3657be 35%, #242161 75%, #1a0531 100%);
	/*透视  近大远小*/
	perspective: 1200px;
}

section.p1 .p1-title {
	width: 550px;
	height: 90px;
	position: absolute;
	left: 50%;
	top: 40px;
	margin-left: -275px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 999;
}

.p1 .p1-title img {
	width: 70%;
}

.p1 .p1-title button {
	background-color: transparent;
	color: #FFFFFF;
	padding: 10px 30px;
	border: 1px solid #fff;
	border-radius: 20px;
	cursor: pointer;
	outline: none;
}

.p1 .p1-title button:hover {
	background: #FFFFFF;
	color: #000000;
}

.p1 .p1-main,
.p1 .p1-main ul {
	width: 900px;
	height: 600px;
}

.p1 .p1-main ul li {
	width: 580px;
	height: 361px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -290px;
	margin-top: -180px;
}


/*做动画*/

.p1 .p1-main ul {
	animation: p1Round 18s infinite alternate;
}

@keyframes p1Round {
	from {
		transform: translateX(0px) translateY(0px) translateZ(0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
	}
	to {
		transform: translateX(0px) translateY(0px) translateZ(0px) rotateX(0deg) rotateY(360deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
	}
}

.p1 .p1-main ul {
	transform-style: preserve-3d;
}


/*当元素不面向屏幕时是否可见*/

.p1 .p1-main ul li {
	backface-visibility: hidden;
	/*设置3d效果*/
}


/*添加层次感*/

.p1 .p1-main ul li:nth-child(1) {
	transform: translateX(0px) translateY(0px) translateZ(0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
}

.p1 .p1-main ul li:nth-child(2) {
	transform: translateX(0px) translateY(0px) translateZ(60px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
}

.p1 .p1-main ul li:nth-child(3) {
	transform: translateX(0px) translateY(0px) translateZ(60px) rotateX(0deg) rotateY(180deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
}

.p1 .p1-main ul li:nth-child(4) {
	transform: translateX(0px) translateY(0px) translateZ(0px) rotateX(0deg) rotateY(180deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
}

.p1 .p1-main ul li:nth-child(5) {
	transform: translateX(0px) translateY(0px) translateZ(-60px) rotateX(0deg) rotateY(180deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
}


/*圆环*/

.p1-circle {
	width: 680px;
	height: 680px;
	animation: p1Circle 3s infinite linear;
}


/*圆环动画*/

@keyframes p1Circle {
	from {
		transform: translateX(0px) translateY(0px) translateZ(0px) rotateX(70deg) rotateY(-10deg) rotateZ(0deg) scaleX(1.3) scaleY(1.3) scaleZ(1.3);
	}
	to {
		transform: translateX(0px) translateY(0px) translateZ(0px) rotateX(70deg) rotateY(-10deg) rotateZ(360deg) scaleX(1.3) scaleY(1.3) scaleZ(1.3);
	}
}


/*第二层*/

section.p2 {
	background: linear-gradient(0deg, #41b93e 0%, #3b9e3c 35%, #274535 75%, #190530 100%);
	/*perspective: 800px;
	transform-style:preserve-3d ;*/
	perspective: 1200px;
}

section.p2 .p2-bg span {
	width: 9999px;
	height: 1px;
	background-color: #c7e00e;
	transform: translateX(0px) translateY(0px) translateZ(0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
}

.p2 .p2-bg img {
	position: absolute;
	left: 50%;
	top: 50%;
}

.p2 .p2-bg img:nth-of-type(1) {
	width: 684px;
	height: 395px;
	margin-left: -142px;
	margin-top: -197px;
}

.p2 .p2-bg img:nth-of-type(2) {
	width: 346px;
	height: 123px;
	margin-left: -60px;
	margin-top: -62px;
}


/*设置ul*/

.p2-main {
	transition: all 1s linear;
}

.p2-main ul {
	width: 900px;
	height: 600px;
	/*添加过渡*/
	transition: all 1s linear;
}

.p2-main ul li {
	width: 350px;
	height: 350px;
}


/*开启动画*/

.p2 .p2-main ul li:nth-of-type(1) {
	left: 77%;
	animation: p2Round 0.5s infinite linear;
}

.p2 .p2-main ul li:nth-of-type(2) {
	left: 66%;
	animation: p2Round 1s infinite linear;
}

.p2 .p2-main ul li:nth-of-type(3) {
	left: 50%;
	animation: p2Round 2s infinite linear;
}

.p2 .p2-main ul li:nth-of-type(4) {
	left: 25%;
	animation: p2Round 3s infinite linear;
}

@keyframes p2Round {
	from {
		transform: translateX(0px) translateY(0px) translateZ(0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
	}
	to {
		transform: translateX(0px) translateY(0px) translateZ(0px) rotateX(0deg) rotateY(0deg) rotateZ(360deg) scaleX(1) scaleY(1) scaleZ(1);
	}
}

.p2 .p2-title {
	width: 355px;
	height: 160px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -365px;
	margin-top: -50px;
	transition: all 1s linear;
}

.p2 .p2-title p {
	color: #FFFFFF;
	font-size: 15px;
	line-height: 30px;
}


/*架空类
 */

.p2.current ul,
.p2.current .p2-title {
	transform: translateX(0px) translateY(0px) translateZ(0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(5) scaleY(5) scaleZ(5);
}


/*第三层*/

section.p3 {
	background: linear-gradient(0deg, #395ecb 0%, #3657be 35%, #242161 75%, #1a0531 100%);
	/*透视*/
	perspective: 1000px;
}

.p3-title {
	width: 450px;
	height: 149px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: 140px;
	margin-top: -172px;
	transform: translateX(0px) translateY(0px) translateZ(0px) rotateX(0deg) rotateY(-18deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
}

.p3-main,
.p3-main ul {
	width: 900px;
	height: 600px;
	transition: all 1s linear;
}

.p3-main ul li {
	width: 680px;
	height: 680px;
	border: 2px solid #5ec0ff;
	border-radius: 50%;
}

.p3 .p3-main ul li:nth-child(1) {
	transform: translateX(0px) translateY(0px) translateZ(0px) rotateX(0deg) rotateY(-60deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
}

.p3 .p3-main ul li:nth-child(2) {
	transform: translateX(0px) translateY(0px) translateZ(0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
}

.p3 .p3-main ul li:nth-child(3) {
	transform: translateX(0px) translateY(0px) translateZ(0px) rotateX(0deg) rotateY(60deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
}


/*开启动画*/

.p3 .p3-main ul li img:nth-child(1) {
	animation: p3ImgCircle 2s infinite linear;
}

.p3 .p3-main ul li img:nth-child(2) {
	animation: p3ImgCircle 4s infinite linear;
}

.p3 .p3-main ul li img:nth-child(3) {
	animation: p3ImgCircle 6s infinite linear;
}

@keyframes p3ImgCircle {
	from {
		transform: translateX(0px) translateY(0px) translateZ(0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
	}
	to {
		transform: translateX(0px) translateY(0px) translateZ(0px) rotateX(0deg) rotateY(0deg) rotateZ(360deg) scaleX(1) scaleY(1) scaleZ(1);
	}
}


/*ul自转*/

.p3 .p3-main ul {
	transform-style: preserve-3d;
	animation: p3UlRound 10s infinite linear;
}

@keyframes p3UlRound {
	from {
		transform: translateX(0px) translateY(0px) translateZ(0px) rotateX(70deg) rotateY(0deg) rotateZ(5deg) scaleX(1) scaleY(1) scaleZ(1);
	}
	to {
		transform: translateX(0px) translateY(0px) translateZ(0px) rotateX(70deg) rotateY(360deg) rotateZ(5deg) scaleX(1) scaleY(1) scaleZ(1)
	}
}


/*落空类*/

.p3.current .p3-main {
	transform: translateX(0px) translateY(0px) translateZ(0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(4) scaleY(4) scaleZ(4);
}

.p3.current .p3-title {
	transform: translateX(1400px) translateY(0px) translateZ(0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(4) scaleY(4) scaleZ(4);
}


/*第四层*/

section.p4 {
	background: url(../images/page4_glow.png) no-repeat center 200px, linear-gradient(0deg, #ff9f42 0%, #ed923d 35%, #6d3816 75%, #2e0b04 100%);
	perspective: 1000px;
}


/*设置线条*/

.p4-line {
	width: 100%;
	height: 230px;
	position: absolute;
	left: 0;
	top: 60%;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
}


/*图片*/

.p4 .p4-line img {
	position: absolute;
	left: 10%;
	top: 0;
}

.p4 .p4-line img:nth-child(1) {
	margin-top: -62px;
	animation: p4LineImg 1.5s infinite linear;
}

.p4 .p4-line img:nth-child(2) {
	top: 50%;
	left: 50%;
	margin-top: 54px;
	animation: p4LineImg 1s infinite linear;
}


/*开启动画*/

@keyframes p4LineImg {
	from {
		transform: translateX(-1400px) translateY(0px) translateZ(0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
	}
	to {
		transform: translateX(1400px) translateY(0px) translateZ(0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
	}
}

.p4 .p4-main,
.p4 .p4-main ul {
	width: 900px;
	height: 600px;
	transform-style: preserve-3d;
}

.p4 .p4-main ul li {
	width: 414px;
	height: 414px;
}


/*设置立体感*/

.p4 .p4-main ul {
	transform: translateX(0px) translateY(0px) translateZ(0px) rotateX(-55deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
	transition: all 1s linear;
}

.p4 .p4-main ul li:nth-child(1) {
	transform: translateX(0px) translateY(0px) translateZ(0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
}

.p4 .p4-main ul li:nth-child(2) {
	transform: translateX(0px) translateY(0px) translateZ(0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
}

.p4 .p4-main ul li:nth-child(3) {
	transform: translateX(0px) translateY(0px) translateZ(100px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
}

.p4 .p4-main ul li:nth-child(4) {
	transform: translateX(0px) translateY(0px) translateZ(50px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
}

.p4 .p4-main ul li:nth-child(5) {
	transform: translateX(0px) translateY(0px) translateZ(10px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
}

.p4 .p4-main ul li:nth-child(1) img {
	animation: p4ImgRound 30s infinite linear;
}

.p4 .p4-main ul li:nth-child(2) img {
	animation: p4ImgRound 7s infinite linear;
}

.p4 .p4-main ul li:nth-child(3) img {
	animation: p4ImgRound 6s infinite linear;
}

.p4 .p4-main ul li:nth-child(4) img {
	animation: p4ImgRound 6s infinite linear;
}

.p4 .p4-main ul li:nth-child(5) img {
	animation: p4ImgRound 3s infinite linear;
}

@keyframes p4ImgRound {
	from {
		transform: translateX(0px) translateY(0px) translateZ(0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
	}
	to {
		transform: translateX(0px) translateY(0px) translateZ(0px) rotateX(0deg) rotateY(0deg) rotateZ(360deg) scaleX(1) scaleY(1) scaleZ(1);
	}
}

.p4 .p4-tag {
	width: 250px;
	height: 80px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -405px;
	margin-top: 10px;
	transition: all 1s linear;
}

.p4 .p4-tag p {
	color: #fff;
	font-weight: bold;
}

.p4 .p4-title {
	width: 300px;
	height: 71px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: 180px;
	margin-top: -135px;
	transform: translateX(0px) translateY(0px) translateZ(0px) rotateX(30deg) rotateY(0deg) rotateZ(0deg) scaleX(1.2) scaleY(1.2) scaleZ(1.2);
	transition: all 1s linear;
}

.p4.current .p4-main ul {
	transform: translateX(0px) translateY(0px) translateZ(0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(4) scaleY(4) scaleZ(4);
}

.p4.current .p4-tag {
	transform: translateX(-2000px) translateY(0px) translateZ(0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(4) scaleY(4) scaleZ(4);
}

.p4.current .p4-title {
	transform: translateX(2000px) translateY(0px) translateZ(0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(4) scaleY(4) scaleZ(4);
}


/**/


/*第五层*/

section.p5 {
	background: url(../images/page5_glow.png) no-repeat center -300px, linear-gradient(0deg, #d74d53 0%, #c44655 35%, #4c184c 75%, #110145 100%);
	perspective: 1000px;
}

.p5 .p5-main,
.p5 .p5-main ul {
	width: 900px;
	height: 600px;
	
}

.p5 .p5-main ul li {
	position: absolute;
	left: 50%;
	top: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.p5 .p5-main ul li:nth-child(1) {
	width: 305px;
	height: 305px;
	background: url(../img/page5_bubble_glow.png)no-repeat;
	margin-left: -152px;
	margin-top: -152px;
	transition: all 1s linear;
}

.p5 .p5-main li:nth-child(2) {
	width: 210px;
	height: 210px;
	background: url(../img/page5_bubble.png) no-repeat;
	line-height: 210px;
	margin-left: -272px;
	margin-top: -234px;
	background-size: cover;
	transition: all 1s linear;
}

.p5 .p5-main li:nth-child(3) {
	width: 250px;
	height: 250px;
	background: url(../img/page5_bubble.png) no-repeat;
	line-height: 250px;
	margin-left: -324px;
	margin-top: 70px;
	background-size: cover;
	transition: all 1s linear;
}

.p5 .p5-main li:nth-child(4) {
	width: 180px;
	height: 180px;
	background: url(../img/page5_bubble.png) no-repeat;
	line-height: 180px;
	margin-left: 175px;
	margin-top: 46px;
	background-size: cover;
	transition: all 1s linear;
}

.p5 .p5-main li:nth-child(5) {
	width: 120px;
	height: 120px;
	background: url(../img/page5_bubble.png) no-repeat;
	line-height: 120px;
	margin-left: 170px;
	margin-top: -195px;
	background-size: cover;
	transition: all 1s linear;
}

.p5 .p5-main li:nth-child(6) {
	width: 90px;
	height: 90px;
	background: url(../img/page5_bubble.png) no-repeat;
	line-height: 90px;
	margin-left: 265px;
	margin-top: -140px;
	background-size: cover;
	transition: all 1s linear;
}

.p5 .p5-main li:nth-child(6) img {
	transform: translateX(0px) translateY(0px) translateZ(0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(0.5) scaleY(0.5) scaleZ(0.5);
}

.p5 .p5-tag {
	width: 250px;
	height: 55px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -425px;
	margin-top: -11px;
	color: #fff;
	font-weight: bold;
	transition: all 1s linear;
}

.p5 .p5-title {
	width: 410px;
	height: 121px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: 145px;
	margin-top: -65px;
	transition: all 1s linear;
}


/*落空类*/

.p5.current .p5-title,
.p5.current .p5-tag {
	transform: translateX(0px) translateY(0px) translateZ(0px) rotateX(0deg) rotateY(-90deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
	transform-origin: 100% 100%;
}

.p5.current .p5-main li:nth-child(1) {
	margin-left: -1500px;
	margin-top: -200px;
}

.p5.current .p5-main li:nth-child(2) {
	margin-left: -1000px;
	margin-top: -700px;
}

.p5.current .p5-main li:nth-child(3) {
	margin-left: -1500px;
	margin-top: 450px;
}

.p5.current .p5-main li:nth-child(4) {
	margin-left: 1500px;
	margin-top: 500px;
}

.p5.current .p5-main li:nth-child(5) {
	margin-left: 1200px;
	margin-top: -900px;
}

.p5.current .p5-main li:nth-child(6) {
	margin-left: 800px;
	margin-top: -150px;
}


/*左上角logo*/

.left-top-logo {
	width: 300px;
	height: 100px;
	position: fixed;
	left: 0;
	top: 0;
	padding-left: 15px;
	padding-right: 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.left-top-logo a {
	color: #FFFFFF;
	text-decoration: none;
	border: 1px #FFFFFF solid;
	border-radius: 24px;
	padding: 10px 20px;
}


/*右边小圆点*/

.gps {
	width: 60px;
	height: 160px;
	position: fixed;
	right: 0;
	top: 50%;
	margin-top: -80px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.gps li {
	width: 15px;
	height: 15px;
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 50%;
	list-style: none;
	cursor: pointer;
}

.gps .current {
	background-color: rgba(255, 255, 255, 1);
}


/*底部信息*/

.footer {
	width: 100%;
	height: 40px;
	padding-left: 10px;
	position: fixed;
	left: 0;
	bottom: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #FFFFFF;
	font-size: 12px;
}

.footer ul {
	display: flex;
	padding-right: 20px;
}

.footer ul li {
	padding: 15px;
}


/*指示器*/

.scroll {
	position: fixed;
	left: 50%;
	bottom: 20px;
	margin-left: -14.5px;
	animation: upAndDown 1s infinite alternate;
}


/*指示器的动画*/

@keyframes upAndDown {
	from {
		transform: translateX(0px) translateY(10px) translateZ(0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
	}
	to {
		transform: translateX(0px) translateY(0px) translateZ(0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
	}
}